@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #072446; /* text */
    --secondary: #fafafa; /* background */
    --tertiary: #444444; /* background blocks */
    --quaternary: #020E1D; /* text */
    --quinary: #DDE2E9; /* background */
    --senary: #0b3360; /* button hover */
    --septenary: #007D58; /* submit button */
    --octonary: #4A374A; /* cancel button */
    --nonary: #FFD43A; /* rating */
    --denary: #3A3A3A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Jost';
    src: url('./styles/fonts/Jost/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
} 

body {
    @apply bg-secondary text-quaternary font-jost;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="date"],
textarea {
    @apply border border-gray-400 px-3 py-1 rounded-md focus:outline-none focus:ring-1 focus:ring-primary w-full shadow-sm;
}

label {
  @apply text-primary text-sm font-medium px-2;
}

h2 {
    @apply text-primary text-3xl font-bold text-center;
}

h2.section {
    @apply text-primary text-2xl font-bold py-2;
}

h2.main {
  @apply text-white text-6xl font-thin text-center;
}

h3.main {
  @apply text-white text-4xl font-thin text-center;
}

button.primary {
    @apply bg-primary p-2 w-full text-white rounded-md hover:bg-senary transition-all duration-300 cursor-pointer;
}

button.secondary {
    @apply w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-3 py-1.5 bg-white text-sm font-medium text-gray-500 hover:bg-gray-50 transition-all duration-300;
}

button a {
    @apply text-white hover:text-gray-300 p-2 font-light transition-all duration-300;
}

a {
    @apply text-primary font-semibold hover:text-senary transition-all duration-300;
}

a.secondary {
    @apply font-light text-white hover:text-gray-300 transition-all duration-300 px-4;
}

p.note {
  @apply mt-10 text-center text-sm text-gray-500
}

img.logo {
    @apply w-20 h-20 mx-auto;
}

img.avatar {
    width: 150px;
    height: 150px;
    background-size: cover;
    background-position: top center;
    border-radius: 50%;
    border: 4px solid var(--primary);
}

.calendar {
    @apply w-20;
}

input[type="date"] {
    height: 34px;
}

.container {
    @apply max-w-7xl mx-auto;
}

/* .btn-date, .input-number, .btn-icon {
  border: 2px solid transparent;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.btn-date {
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.input-number {
  max-width: 60px;
  text-align: center;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}

.btn-icon:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-icon:hover:not(:disabled) {
  background-color: #cc3333;
  transform: scale(1.05);
}

/* .h-6, .h-8 {
  height: 1.5em;
  width: 1.5em;
} */

/* .relative {
  position: relative;
}

.absolute {
  position: absolute;
  top: 100%; 
}

ul {
  transition: all 0.3s ease-in-out;
  transform-origin: top center;
}

.icon-small {
    width: 40px; 
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%; 
    cursor: pointer;
}

.input-number {
    width: 100px; 
    padding: 0 12px;
    height: 40px; 
} */

